
<nav class="navbar bg-white" style="font-family: Arial">
  <nav class="navbar navbar-white bg-white">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Depop_logo.svg" 
        alt="" 
        width="120" 
        height="30">
      </a>
    </div>
  </nav>

  <nav class="navbar navbar-white bg-white">
    <form class="container-fluid">
     <div class="input-group">
      <span class="input-group-text bg-white" id="basic-addon1">
        <img src="https://icon-library.com/images/search-bar-magnifying-glass-icon/search-bar-magnifying-glass-icon-2.jpg" 
        alt=""
        width="25"
        height="25"
        >
      </span>
      <input type="text" class="form-control" placeholder="Search for items, brands, or styles..." aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </form>
  </nav>


  <div class="nav nav-pills" style="font-family: Arial;">
    
    <li class="nav-item">
      <a class="nav-link text-white bg-black" href="#"><b>Sign up</b>
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link text-black bg-white" href="#"><b>Login</b>
      </a>
    </li>

  </div>
</nav>
<hr>
<nav class="navbar subnav bg-white">
  <ul class="nav navbar-navsubnav-menu">
  

    
  <div class="dropdown">
   <button 
   class="btn btn-secondary dropdown-toggle bg-white text-black" 
   type="button" 
   data-bs-toggle="dropdown"
   aria-expanded="false" 
   id="dropDownMenuButton1" >
   <b>Womenswear</b>
   </button>

   <div class="dropdown-menu">
       <li><a class="dropdown-item" href="#"><img src="">Show All</a></li>
       <li><a class="dropdown-item" href="#"><img src="">Tops</a></li>
       <li><a class="dropdown-item" href="#"><img src="">Bottoms</a></li>
       <li><a class="dropdown-item" href="#"><img src="">Dresses</a></li>
       <li><a class="dropdown-item" href="#"><img src="">Lingerie</a></li>
       <li><a class="dropdown-item" href="#"><img src="">Outerware</a></li>
       <li><a class="dropdown-item" href="#"><img src="">Accessories</a></li>
       <li><a class="dropdown-item" href="#"><img src="">Shoes</a></li>
       <li><a class="dropdown-item" href="#"><img src="">Suits</a></li>
   </div>
  </div>

  <div class="dropdown">
  <button 
  class="btn btn-secondary dropdown-toggle bg-white text-black" 
  type="button" 
  data-bs-toggle="dropdown"
  aria-expanded="false" 
  id="dropDownMenuButton1" >
  <b>Menswear</b>
  </button>
  <div class="dropdown-menu">
  <li><a class="dropdown-item" href="#"><img src="">Show All</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Tops</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Bottoms</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Underwear</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Outerware</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Accessories</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Shoes</a></li>
  </div>
  </div>

  <div class="dropdown">
  <button 
  class="btn btn-secondary dropdown-toggle bg-white text-black" 
  type="button" 
  data-bs-toggle="dropdown"
  aria-expanded="false" 
  id="dropDownMenuButton1" >
  <b>Jewellery</b>
  </button>
  <div class="dropdown-menu">
  <li><a class="dropdown-item" href="#"><img src="">Show All</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Earrings</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Rings</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Watches</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Other</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Body Jewellery</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Bracelets</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Necklaces</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Pins</a></li>
  </div>
  </div>

  <div class="dropdown">
  <button 
  class="btn btn-secondary dropdown-toggle bg-white text-black" 
  type="button" 
  data-bs-toggle="dropdown"
  aria-expanded="false" 
  id="dropDownMenuButton1" >
  <b>Beauty</b>
  </button>
  <div class="dropdown-menu">
  <li><a class="dropdown-item" href="#"><img src="">Show All</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Bath & Body</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Fragrance</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Hair</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Makeup</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Tools & Brushes</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Skincare</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Other</a></li>
  </div>
  </div>

  <div class="dropdown">
  <button 
  class="btn btn-secondary dropdown-toggle bg-white text-black" 
  type="button" 
  data-bs-toggle="dropdown"
  aria-expanded="false" 
  id="dropDownMenuButton1" >
  <b>More</b>
  </button>
  <div class="dropdown-menu">
  <li><a class="dropdown-item" href="#"><img src="">Art</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Home</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Kids</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Sports Equipment</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Transportation</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Other</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Books & Magazines</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Film</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Music</a></li>
  <li><a class="dropdown-item" href="#"><img src="">Face Masks and Coverings</a></li>
  </div> 
  </div>
  
</ul>
</nav>

<hr>



<div class="navbar fixed-bottom bg-white">
  
  <ul class="navbar">
   
    <li class="nav-item">
      <a class="nav-link text-black bg-white" href="#"><u>Sustainability</u>
     </a>
    </li>
  
   <li class="nav-item">
     <a class="nav-link text-black bg-white" href="#"><u>Blog</u>
     </a>
   </li>
 
   <li class="nav-item">
     <a class="nav-link text-black bg-white" href="#"><u>About</u>
     </a>
   </li>

   <li class="nav-item">
     <a class="nav-link text-black bg-white" href="#"><u>Sell on Depop</u>
     </a>
   </li>
 
   <li class="nav-item">
     <a class="nav-link text-black bg-white" href="#"><u>Jobs</u>
     </a>
   </li>
  
   <li class="nav-item">
     <a class="nav-link text-black bg-white" href="#"><u>Spaces</u>
     </a>
   </li>
  
   <li class="nav-item">
     <a class="nav-link text-black bg-white" href="#"><u>News</u>
     </a>
   </li>

   <li class="nav-item">
     <a class="nav-link text-black bg-white" href="#"><u>Support</u>
     </a>
   </li>

   <li class="nav-item">
     <a class="nav-link text-black bg-white" href="#"><u>Terms</u>
     </a>
   </li>

   <li class="nav-item">
     <a class="nav-link text-black bg-white" href="#"><u>Privacy</u>
     </a>
   </li>

   <li class="nav-item">
     <a class="nav-link text-black bg-white" href="#"><u>Safety</u>
     </a>
   </li>

   <li class="nav-item">
     <a class="nav-link text-black bg-white" href="#"><u>Sitemap</u>
     </a>
   </li>

   <li class="nav-item">
     <a class="nav-link text-black bg-white" href="#"><u>Cookies</u>
     </a>
   </li>
  </ul>
  
  

<nav class="navbar navbar-light bg-white">
<div class="container">
  <a class="navbar-brand" href="#">
    <img src="https://www.pinclipart.com/picdir/big/173-1737159_instagram-logo-outline-download-instagram-flat-icon-svg.png" alt="" width="15" height="15">
  </a>
</div>
</nav>

<nav class="navbar navbar-light bg-white">
<div class="container">
  <a class="navbar-brand" href="#">
    <img src="https://www.shareicon.net/data/2048x2048/2015/11/22/179465_twitter_4096x4096.png" alt="" width="30" height="24">
  </a>
</div>
</nav>

<nav class="navbar navbar-light bg-white">
<div class="container">
  <a class="navbar-brand" href="#">
    <img src="https://www.capalino.com/wp-content/uploads/2015/05/facebook-4096-black.png" alt="" width="30" height="24">
  </a>
</div>
</nav>

  <ul>
    
  
  <div class="btn-group dropup">
  <button type="button" class="btn btn-secondary fixed-right dropdown-toggle bg-white text-black" data-bs-toggle="dropdown" aria-expanded="false">
   English
   </button>
  <ul class="dropdown-menu">
     <li><a class="dropdown-item bg-white text-black" href="#">French</a></li>
     <li><a class="dropdown-item bg-white text-black" href="#">German</a></li>
     <li><a class="dropdown-item bg-white text-black" href="#">Italian</a></li>
  </ul>
 </div>

 <div class="btn-group dropup">
  <button type="button" class="btn btn-secondary fixed-right dropdown-toggle bg-white text-black" data-bs-toggle="dropdown" aria-expanded="false">
   United States
   </button>
  <ul class="dropdown-menu">
     <li><a class="dropdown-item bg-white text-black" href="#">Italy</a></li>
     <li><a class="dropdown-item bg-white text-black" href="#">United Kingdom</a></li>
     <li><a class="dropdown-item bg-white text-black" href="#">France</a></li>
     <li><a class="dropdown-item bg-white text-black" href="#">Germany</a></li>
     <li><a class="dropdown-item bg-white text-black" href="#">Australia</a></li>
  </ul>

</div>


